$color-gnb: #000000b8;
$color-gray: #0000007a;

$white-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
$white-box-radius: 16px;
$border-radius8: 8px;
$hovered-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
$hovered-bg: rgba(0, 0, 0, 0.04);
$main-sec-mb: 16px;
$divider-lightgray: #00000014;
